{
  "parser": "@typescript-eslint/parser",
  // "parser": "babel-eslint",
  "parserOptions":{
    "ecmaVersion": 2020
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}